<html>
	<head>
		<title>Sign Up</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
	</head>
	<body>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Header -->
					<header id="header">
						<h1>{{ generic }}</h1>
						<p>{{ tag_line }}</p>
					</header>

				<!-- Main -->
					<div id="main">

						<!-- Content -->
							<section id="content" class="main">
								
							</section>

					</div>

				<!-- Footer -->
					<footer id="footer">
						<section>
							<h2>License</h2>
							<p>We're using Creative Commons license to make this project available to all.</p>
							<ul class="actions">
								<a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
							</ul>
						</section>
						<section>
							<h2>Team Members</h2>
							<dl class="alt">
								<dt>Joel</dt>
								<dd>20176109 &bull; joelvinaykumar@riseup.net</dd>
								<dt>Alekhya</dt>
								<dd>20176049 &bull; alekhyagamini24@gmail.com</dd>
								<dt>Venkatesh</dt>
								<dd>20176056 &bull; avenkatesh1004@gmail.com</dd>
							</dl>
							<ul class="icons">
								Fork our code @  
								<li><a href="https://code.swecha.org/pheasant/Pheasant/" class="icon fa-gitlab alt" style="margin-left: 14px"><span class="label">Gitlab</span></a></li>
							</ul>
						</section>
					</footer>

			</div>
			<script src="{{url_for('static', filename='js/jquery.min.jss') }}"></script>
			<script src="{{url_for('static', filename='js/jquery.scrollex.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/jquery.scrolly.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/skel.min.js')}}"></script>
			<script src="{{url_for('static', filename='js/util.js')}}"></script>
			<script src="{{url_for('static', filename='js/main.js')}}"></script>

	</body>
</html>